body {
    background-color: gray;
    background-image:url('../img/bg1.jpg');
    color: white;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.site-title {
    color: orange;
    font-size: 60px;
}

.site-title-box {
    background: rgb(36,25,0);
    background: linear-gradient(0deg, rgba(36,25,0,1) 0%, rgba(121,105,9,1) 47%, rgba(206,208,7,1) 100%);
    opacity: 1;
}

.content {
    font-size: 20px;
}

a.menu {
    color: yellow;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 5px 5px 5px;
}

a.menu:hover {
    background-color: yellow;
    color: black;
    text-decoration: underline;
}


.top-row a {
    color: black;
    background-color: yellow;
    height: 100%;
}


.top-row a:hover {
    color: black;
    background-color: orange;
}

.menu-button {
    vertical-align: middle;
}


table {
    border: 0px;
    width: 80%;
    background-color: black;
    opacity: 0.8;
    font-size: 16px;
}

td {
    border: 1px solid yellow;
}

.top-row td {
    background: yellow;
}

.menu-photo {
    text-align: center;
    width: 100px;
}

.screenshot {
   width: 250px; 
   margin: 10px;
   border: 1px solid white;
}

.screenshot-link {
    display: inline-block;
    color: white;
}

.kod {
    color: yellow;
}